language: objective-c
os: osx
osx_image: xcode10.3

env:
  global:
    - NODE_VERSION="12.8.0"

branches:
  only:
  - master

# podfile: ios/Podfile

# before_install:
# - openssl aes-256-cbc -K $encrypted_6b7d30847d45_key -iv $encrypted_6b7d30847d45_iv -in ./.travis/.env.enc -out ./.env -d

install:
# - brew tap wix/brew
# - brew install applesimutils
# - bundle install
# - bundle update
# - bundle exec pod repo update
- nvm install $NODE_VERSION
- node --version
# - npm install -g react-native-cli
# - npm install -g detox-cli
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH=$HOME/.yarn/bin:$PATH
- yarn
# - cd ios
# - bundle exec pod install
# - cd ..

cache:
  yarn: true
  bundler: true
  # cocoapods: true
  # directories:
  # - "$HOME/Library/Developer/CoreSimulator"
  # - "$HOME/Library/Developer/Xcode"
  # - "$TRAVIS_BUILD_DIR/ios/build"

script:
- "./node_modules/.bin/tsc"
# - detox build --configuration ios.sim.release
# - detox test --configuration ios.sim.release --cleanup
